h1 {
  text-align: center;
}

main {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stop {
  min-width: 250px;
}

th {
  padding: 2px 5px;
  text-align: left;
  border: 1px solid #555;
  border-collapse: collapse;
}
