h1 {
  text-align: center;
}

.container {
  margin: 20px auto;
}

main {
  width: 300px;
  margin: 0 auto;
}

details {
  margin-top: 30px;
}

summary {
  margin-bottom: 15px;
  cursor: pointer;
}

th {
  padding: 2px 5px;
  text-align: left;
  border: 1px solid #555;
  border-collapse: collapse;
}
