h1 {
  text-align: center;
}

main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

th {
  padding: 2px 5px;
  text-align: left;
  border: 1px solid #555;
  border-collapse: collapse;
}
